body 
{
    text-align:center;
    min-width:500px;
}

#arena 
{
    margin:auto;
}

.gamePlay
{
    margin:auto;
    text-align:center;
}

.t3board 
{
    width:160px;
    margin:auto;
    text-align:center;
}

.goboard
{
    width:600px;
    margin:auto;
    text-align:center;
    background-image:url('goboard.png');
    background-repeat:no-repeat;
    background-position:center;
}

.t3button 
{
    width:50px;
    height:50px;
}
